.App-footer {
  position: fixed;
   bottom: 0;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: $footer-height;
   background-color: $secondary-main-color;
   padding: 0 auto;
   p {
    color: $accent-color;
    margin: 0 5px;
    font-weight: 500;
   }
}


