.board-container {
  margin-top: $header-height;
  background-color: $secondary-light-color;
  height: 1000px;
  .littleitems-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
}


