.main-container {
  background: url("../../Carcassonne.jpg") no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  
  .home-header {
    color: $accent-color;
    font-size: 12vh;
    margin: 50px 0 60px 30px;
    padding-top: 10vh;
    width: 50vw;
  }

  .button-container {
    box-sizing: border-box;
    width: 40vw;
    margin-left: 50vw;
    button {
      border: 3px solid $accent-color;
      border-radius: 5px;
      color: $accent-color;
      font-weight: 500;
      background-color: $secondary-main-color;
      p {
        color: $accent-color;
        font-weight: 500;
        font-size: 5vh;
        width: 30vw;
      }
    }
  }


  .button-container:hover {
    button {
      border: 6px solid $accent-color;
    }
  }

  


  
}