.modal-item-button {
  border: 1px solid $secondary-accent-color;
  border-radius: 5px;
  color: $secondary-accent-color;
  font-weight: 600;
  background-color: $secondary-light-color;
}
.modal-itemheader-text {
  font-size: 5vh;
  color: white;
  text-align: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  background-color: $secondary-light-color;
  color: $secondary-accent-color;
  .item-info {
    text-align: center;
    width: 400px;
    margin: 10px;
    font-weight: 500;
    .item-price {
      font-size: 24px;
    }
  } 
  .modal-itemchange-button {
    border: 1px solid $secondary-light-color;
    border-radius: 5px;
    color: $secondary-accent-color;
    font-weight: 600;
    background-color: $secondary-main-color;
  }
}


