 
 .navbar {
   position: fixed;
   top: 0;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: $header-height;
   background-color: $secondary-main-color;
   padding: 0 auto;

   h1 {
     color: $accent-color;
   }

   button {
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: $accent-color;
    font-weight: 500;
    background-color: $main-color;
   }

   button:hover {
    border: 3px solid $accent-color;
   }

  .avatar {
    border: 1px solid $accent-color;
    max-height: auto;
    img {
      height: 60px;
    }
  }



 }