.searchbar-container{
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  justify-content: center;
  .searchbar-input {
    width: 40vw;
  }
  .searchbar-button {
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: $accent-color;
    font-weight: 600;
    background-color: $main-color;
  }
  .searchbar-button:hover {
    border: 3px solid $accent-color;
  }
}

